.backgroundPicture {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    margin: auto;
    min-width: 50%;
    min-height: 50%;

    background: url(https://media.architecturaldigest.com/photos/5640d413d33b16de31fa3bba/master/pass/contemporary-bedroom-ideas-inspiration-07.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    position: fixed;
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
}

.text {
    position: fixed;
    padding-left: 15px;
    color: #8fbc8f;
    filter: brightness(110%);
}

/* Buttons */
.button-25 {
  background-color: #8fbc8f;
  background-image: linear-gradient(#8fbc8f, #8fbc8f);
  border: 1px solid #8fbc8f;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  line-height: 380%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 8%;
  position: fixed; right: 0px;
}


.button-25:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button-25:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.button-25:disabled:active {
  pointer-events: none;
}

.button-25:disabled:hover {
  box-shadow: none;
}

.button-26 {
    background-color: #8fbc8f;
    background-image: linear-gradient(#8fbc8f, #8fbc8f);
    border: 1px solid #8fbc8f;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 380%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 8%;
    position: fixed; right: 200px;
  }

  .button-26:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }
  
  .button-26:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
  
  .button-26:disabled:active {
    pointer-events: none;
  }
  
  .button-26:disabled:hover {
    box-shadow: none;
  }

  .button-27 {
    background-color: #8fbc8f;
    background-image: linear-gradient(#8fbc8f, #8fbc8f);
    border: 1px solid #8fbc8f;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 380%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 8%;
    position: fixed; right: 400px;
  }

  .button-27:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }
  
  .button-27:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
  
  .button-27:disabled:active {
    pointer-events: none;
  }
  
  .button-27:disabled:hover {
    box-shadow: none;
  }

  .button-28 {
    background-color: #8fbc8f;
    background-image: linear-gradient(#8fbc8f, #8fbc8f);
    border: 1px solid #8fbc8f;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 380%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 8%;
    position: fixed; right: 600px;
  }

  .button-28:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }
  
  .button-28:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
  
  .button-28:disabled:active {
    pointer-events: none;
  }
  
  .button-28:disabled:hover {
    box-shadow: none;
  }

  .contactinfo {
    position: fixed; bottom: 550px;
    position: fixed; bottom: 400px;
    color: #020302;
    filter: brightness(200%);
    padding: 20px;
    flex: 2000px;
    font-size: 17px;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  .underline {
    text-decoration: underline; 
  }

  .formLook {
    color: aliceblue;
    border: 2px #485461 solid;
    background-color: transparent;
    cursor: pointer;
  }

  .additemStyling {
    text-align: center;
    color: rgb(1, 1, 1);
    padding-top: 100px;
  }

  .inputcolor {
    color: rgb(1, 3, 5);
    filter: brightness(200%);
    background-color: transparent;
  }

  .signInStyling {
    text-align: center;
    color: rgb(1, 1, 1);
    padding-top: 100px;
    text-decoration: underline;
  }

  .noAccountStyling {
    text-align: center;
    color: rgb(1, 1, 1);
    padding-top: 1px;
    text-decoration: underline;
  }

  .createAccountButton {
    background-color: #8fbc8f;
    background-image: linear-gradient(#8fbc8f, #8fbc8f);
    border: 1px solid #8fbc8f;
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    /* line-height: 380%; */
    margin: 0;
    outline: 0;
    padding: 5px ;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 18%;
    position: fixed; right: 791px;
  }



/* text bubble for what to do */
/* goes in homepage */

  /* .bubble {
    width: 40%;
    height: 25%;
    left: 73%;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5vmin;
    background: #ffd;
    box-shadow: 0 -0.25vmin, 0 0.125vmin;
    font-family: "Comic Sans", "Comic Neue", sans-serif;
  }
  
  .bubble::before {
    width: 40%;
    height: 100%;
    bottom: -51%;
    border-radius: 50%;
    left: 10%;
    box-shadow: 0.5vmin 0, 2vmin -0.5vmin #ffd, 2vmin -0.5vmin 0 0.5vmin;
    clip-path: polygon(0% 49%, 150% 48%, 150% 100%, 0% 100%);
  } */
  
  /* text bubble for what to do */


  div.polaroid {
    width: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px; 
    float: left;
    margin-left: 70px;
    margin-top: 50px;
    flex-wrap: wrap;
  }
  
  div.polaroid-info {
    width: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-bottom: 25px; */
    /* float: left; */
    margin-left: 10px;
    margin-top: 50px;
    flex-wrap: wrap;
  }
