.backgroundPicture {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    margin: auto;
    min-width: 50%;
    min-height: 50%;

    background: url(https://media.architecturaldigest.com/photos/5640d413d33b16de31fa3bba/master/pass/contemporary-bedroom-ideas-inspiration-07.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    position: fixed;
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
}

.text {
    position: fixed;
    padding-left: 15px;
    color: #8fbc8f;
    filter: brightness(110%);
}

/* Buttons */
.button-25 {
  background-color: #8fbc8f;
  background-image: linear-gradient(#8fbc8f, #8fbc8f);
  border: 1px solid #8fbc8f;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  line-height: 380%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 8%;
  position: fixed; right: 0px;
}


.button-25:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button-25:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.button-25:disabled:active {
  pointer-events: none;
}

.button-25:disabled:hover {
  box-shadow: none;
}

.button-26 {
    background-color: #8fbc8f;
    background-image: linear-gradient(#8fbc8f, #8fbc8f);
    border: 1px solid #8fbc8f;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 380%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 8%;
    position: fixed; right: 200px;
  }

  .button-26:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }
  
  .button-26:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
  
  .button-26:disabled:active {
    pointer-events: none;
  }
  
  .button-26:disabled:hover {
    box-shadow: none;
  }

  .button-27 {
    background-color: #8fbc8f;
    background-image: linear-gradient(#8fbc8f, #8fbc8f);
    border: 1px solid #8fbc8f;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 380%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 8%;
    position: fixed; right: 400px;
  }

  .button-27:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }
  
  .button-27:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
  
  .button-27:disabled:active {
    pointer-events: none;
  }
  
  .button-27:disabled:hover {
    box-shadow: none;
  }

  .button-28 {
    background-color: #8fbc8f;
    background-image: linear-gradient(#8fbc8f, #8fbc8f);
    border: 1px solid #8fbc8f;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 380%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 8%;
    position: fixed; right: 600px;
  }

  .button-28:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }
  
  .button-28:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
  
  .button-28:disabled:active {
    pointer-events: none;
  }
  
  .button-28:disabled:hover {
    box-shadow: none;
  }


  
