.backgroundPicture {
    background-attachment: fixed;
    position: absolute;
    background-repeat: repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    margin: auto;
    min-width: 50%;
    min-height: 50%;

    background: url(https://media.architecturaldigest.com/photos/5640d413d33b16de31fa3bba/master/pass/contemporary-bedroom-ideas-inspiration-07.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    position: fixed;
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
}

.text {
    position: fixed;
    padding-left: 15px;
    color: #8fbc8f;
    filter: brightness(110%);
}

/* Buttons */
.button-25 {
  background-color: #8fbc8f;
  background-image: linear-gradient(#8fbc8f, #8fbc8f);
  border: 1px solid #8fbc8f;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  line-height: 380%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 8%;
  position: fixed; right: 0px;
}


.button-25:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button-25:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.button-25:disabled:active {
  pointer-events: none;
}

.button-25:disabled:hover {
  box-shadow: none;
}

.button-26 {
    background-color: #8fbc8f;
    background-image: linear-gradient(#8fbc8f, #8fbc8f);
    border: 1px solid #8fbc8f;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 380%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 8%;
    position: fixed; right: 200px;
  }

  .button-26:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }
  
  .button-26:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
  
  .button-26:disabled:active {
    pointer-events: none;
  }
  
  .button-26:disabled:hover {
    box-shadow: none;
  }

  .button-27 {
    background-color: #8fbc8f;
    background-image: linear-gradient(#8fbc8f, #8fbc8f);
    border: 1px solid #8fbc8f;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 380%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 8%;
    position: fixed; right: 400px;
  }

  .button-27:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }
  
  .button-27:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
  
  .button-27:disabled:active {
    pointer-events: none;
  }
  
  .button-27:disabled:hover {
    box-shadow: none;
  }

  .button-28 {
    background-color: #8fbc8f;
    background-image: linear-gradient(#8fbc8f, #8fbc8f);
    border: 1px solid #8fbc8f;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 380%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 8%;
    position: fixed; right: 600px;
  }

  .button-28:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }
  
  .button-28:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
  
  .button-28:disabled:active {
    pointer-events: none;
  }
  
  .button-28:disabled:hover {
    box-shadow: none;
  }

  /* Buttons */



  .contactinfo {
    position: fixed; bottom: 550px;
    position: fixed; bottom: 400px;
    color: #020302;
    filter: brightness(200%);
    padding: 20px;
    flex: 2000px;
    font-size: 17px;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  .underline {
    text-decoration: underline; 
  }

  .formLook {
    /* color: aliceblue; */
    border: 2px #485461 solid;
    /* background-color: transparent; */
    cursor: pointer;
  }

  .additemStyling {
    text-align: center;
    color: rgb(1, 1, 1);
    padding-top: 100px;
  }

  .inputcolor {
    color: rgb(1, 3, 5);
    /* filter: brightness(200%); */
    /* background-color: transparent; */
  }

  .signInStyling {
    text-align: center;
    color: rgb(1, 1, 1);
    padding-top: 100px;
    text-decoration: underline;
  }

  .noAccountStyling {
    text-align: center;
    color: rgb(1, 1, 1);
    padding-top: 1px;
    text-decoration: underline;
  }

  .createAccountButton {
    background-color: #8fbc8f;
    background-image: linear-gradient(#8fbc8f, #8fbc8f);
    border: 1px solid #8fbc8f;
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    /* line-height: 380%; */
    margin: 0;
    outline: 0;
    padding: 5px ;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 18%;
    position: fixed; right: 791px;
  }



  .polaroid {
    width: 15%;
    background-color: #9cc39c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px; 
    float: left;
    margin-left: 70px;
    margin-top: 150px;
    flex-wrap: wrap;
  }
  
  .polaroid-info {
    width: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-bottom: 25px; */
    /* float: left; */
    margin-left: 10px;
    margin-top: 50px;
    flex-wrap: wrap;
  }

  .polaroidDetail {
    width: 20%;
    background-color: #9cc39c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px; 
    float: left;
    margin-left: 70px;
    margin-top: 150px;
  }
  
  .polaroidDetail-info {
    width: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10px;
    margin-top: 50px;
  }


  /* .bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
  }
  
  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
  } */

  .welcomeMessage {
    position: fixed; right: 15px; bottom: 730px;
    text-align: center;
    text-decoration: underline;
  }

  .signOutButton {
    position: fixed; right: 15px; bottom: 710px;
    background-color: #8fbc8f;
    background-image: linear-gradient(#8fbc8f, #8fbc8f);
    border: 1px solid #8fbc8f;
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    margin: 10;
    outline: 0;
    padding: 5px ;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 8.5%;
  }

  .signOutButton:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }
  
  .signOutButton:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
  
  .signOutButton:disabled:active {
    pointer-events: none;
  }
  
  .signOutButton:disabled:hover {
    box-shadow: none;
  }

  .imgSize {
    width: 100%;
    height: 15vw;
    object-fit:fill;
}


/* div#error-alert {
  background: #ececec;
  width: 400px;
  height: 130px;
  margin: 0 auto;
  border: 2px solid #8f2203;
  -moz-border-radius: 1em 1em;
  border-radius: 1em 1em;
  }
  
  div#error-alert .alert-heading {
  background: #c12d02;
  width: 100%;
  height: 31px;
  margin: 0;
  position:relative; top:10px;
  } */

  /* Blank username or password */
  div#error-alert {
    position: absolute;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 200px;
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
    right: 540px;
    top: 100px;
  }
  div#error-alert .alert-heading {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
  }
  /* Blank username or password */

  /* incorrect username or password */
  div#error-alert2 {
    position: absolute;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 200px;
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
    right: 540px;
    top: 100px;
  }
  div#error-alert2 .alert-heading {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
  }
  /* incorrect username or password */


  p#sortingError {
    position: absolute;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 0px;
    padding: 10px;
    color: rgb(169, 115, 115);
    left: 220px;
    top: 107px;
    width: 200px;
    background: #fff;
  }


  .reviewPlacement {
    position: absolute;
    left: 5px;
    text-decoration: underline; 
    bottom: -5px;
    text-align: center;
    /* left: 200px;
    text-decoration: underline; 
    top: 110px; */
  }

  .hr {
    position: absolute;
    height: 1px;
    border: 10;
    border-top: 8px solid #ccc;
    top: 700px;
    width: 1928px;
  }


  div#addReviewForm {
    position: absolute;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 400px;
    background: linear-gradient(#8fbc8f, #8fbc8f);
    border-radius: 40px;
    padding: 24px;
    /* text-align: center; */
    color: #000;
    right: 900px;
    top: 150px;
  }

  div#signInToLeaveReview {
    position: absolute;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 200px;
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
    left: 500px;
    top: 150px;
  }
  div#signInToLeaveReview .alert-heading {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
  }

  .reviewcontainer {
    position: relative;
    width: 600px;
    margin: auto;
    border: 3px solid #8fbc8f;
    background-color: #777777;
    flex-wrap: wrap;
    float: left;
    margin-bottom: 25px; 
    margin-left: 10px;
    margin-top: 10px;
    right: 0px;
  }

  .sortItemsButton {
    position: fixed; left: 5px; bottom: 720px;
    background-color: #8fbc8f;
    background-image: linear-gradient(#8fbc8f, #8fbc8f);
    border: 1px solid #8fbc8f;
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin: 10;
    outline: 0;
    padding: 5px ;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 11%;
  }

  .sortItemsButton:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }
  
  .sortItemsButton:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
  
  .sortItemsButton:disabled:active {
    pointer-events: none;
  }
  
  .sortItemsButton:disabled:hover {
    box-shadow: none;
  }


  /* Sign out button */
  .button-29 {
    background-color: #8fbc8f;
    background-image: linear-gradient(#8fbc8f, #8fbc8f);
    border: 1px solid #8fbc8f;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 380%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 8%;
    position: fixed; right: 0px;
  }
  
  
  .button-29:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }
  
  .button-29:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
  
  .button-29:disabled:active {
    pointer-events: none;
  }
  
  .button-29:disabled:hover {
    box-shadow: none;
  }

  .reviewForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    color: linear-gradient(#8fbc8f, #8fbc8f);
  }

  .bodyReviewForm {
    height: 50px;
    /* padding-top: 0;
    padding-left: 0;
    line-height: 1em; */
    word-wrap: break-all;
  }


  div#CreatingAccount-error-alert {
    position: absolute;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 200px;
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
    right: 540px;
    top: 100px;
  }
  div#CreatingAccount-error-alert .alert-heading {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
  }


  div#usernameTaken-error-alert {
    position: absolute;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 200px;
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
    right: 540px;
    top: 100px;
  }
  div#usernameTaken-error-alert .alert-heading {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
  }

  .homepageText {
    text-align: center;
    margin-top: 200px;
    font-size: 100px;
    text-decoration: underline;
    color:aliceblue
  }

  .homepageButton1 {
    /* position: absolute;
    left: 670px;
    top: 350px;
    background-color: #8fbc8f;
    border: none;
    color: white;
    padding: 42px 72px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; */

    position: absolute;
    left: 670px;
    top: 350px;
    width: 12%;
    border: none;
    background-color:#8fbc8f;
    color: aliceblue;
    padding: 42px 2px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;

    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .homepageButton1:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }
  
  .homepageButton1:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
  
  .homepageButton1:disabled:active {
    pointer-events: none;
  }
  
  .homepageButton1:disabled:hover {
    box-shadow: none;
  }

  .homepageButton2 {
    /* position: absolute;
    left: 1000px;
    top: 350px;
    background-color: #8fbc8f;
    border: none;
    color: white;
    padding: 42px 72px;
    text-align: center;
    width: auto;
    display: inline-block;
    /* font-size: 16px;  */

    position: absolute;
    right: 670px;
    top: 350px;
    width: 12%;
    border: none;
    background-color:#8fbc8f;
    color: aliceblue;
    padding: 42px 2px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;  

    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    cursor: pointer;
    display: table;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation; 

  }
  
  
  .homepageButton2:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }
  
  .homepageButton2:disabled {
    cursor: not-allowed;
    opacity: .6;
  }
  
  .homepageButton2:disabled:active {
    pointer-events: none;
  }
  
  .homepageButton2:disabled:hover {
    box-shadow: none;
  }



